body {
  background-color: beige;
}

.title {
  font-size: 2em;
  color: crimson;
}

#principal {
  font-size: 4em;
}

.img_logo {
  width: 300px;
  height: 300px;
}

.titulos {
  width: 65vw; /* viewport width */
  margin: auto;
  padding: 3em;

  display: flex;
  flex-direction: column;
}

.cards {
  border: 2px solid rgb(220, 83, 83);
  width: fit-content;
  padding: 1em 1em 1em 1em;
  border-radius: 5%;
  transition: 1s;

  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.cards:hover {
  background-color: rgb(109, 209, 209);
}

#cards-container {
  width: 85vw;
  margin: auto;
  margin-top: 1.5em;
  border: 2px solid rgb(36, 34, 34);
  border-radius: 5%;
  padding: 2em;

  display: flex;
  justify-content: space-between;
}
